[Desktop Entry]
Type=Application
Name=Mnemosyne
Comment=PDF, EPUB, HTML, Markdown, MOBI/AZW, CBZ comic, and plain text reader
Exec=Mnemosyne %F
Icon=mnemosyne
Terminal=false
Categories=Office;Viewer;
MimeType=application/pdf;application/epub+zip;text/html;text/markdown;application/x-mobipocket-ebook;application/vnd.comicbook+zip;
